body {
    background-image: url('assets/images/artwork/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
  text-align: center;
}

.character-container {
    text-align: center;
    padding-right: 700px;
}

 .character {
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0px 10px 5px #ccc;
    width: 80px;

}

.character-clicked {
    width: 90px;
   box-shadow: 0px 10px 5px yellow;
   border-color: yellow;
}


.hovered-character {
    width: 90px;
}

.instructions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.sprite-container {
    text-align: right;
    position: relative;
    bottom: 300px;
    right: 600px;
}

.character-information {
    color: black;
    text-align: right;
    position: relative;
    left: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: xx-large;
}